Retell Salon Booking System (1).json
{
  "name": "Retell Salon Booking System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "retell-salon",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2852a76-b450-4ad4-ab95-db7daa5ed8e2",
      "name": "Retell Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        304
      ],
      "webhookId": "31970b60-dec5-4ba3-9f17-3b3da6d5ef92"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "check_availability",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0f574718-9bc8-4926-9330-9a1adbe5e309"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "book_appointment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b014258f-8e70-4528-af62-994072772244"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "book_appointment"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "7f7eda64-52b3-4dff-b678-d3457c90e8be",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "0a50e936261ab691c592a17d6c15e119e6c11a769057e189a9fe766621524564@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Salon Appointment Calender"
        },
        "returnAll": true,
        "timeMin": "={{ $json.body.date }}T00:00:00-04:00",
        "timeMax": "={{ $json.body.date }}T23:59:59-04:00",
        "options": {}
      },
      "id": "3b861230-7505-4cf5-afb5-faa800958011",
      "name": "Get Calendar Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        688,
        208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "AcWtQ5kuR4JFZjwx",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const busyEvents = $input.all()\n  .filter(item => item.json && item.json.start && item.json.start.dateTime)\n  .map(item => ({\n    start: item.json.start.dateTime,\n    end:   item.json.end.dateTime,\n  }));\nreturn [{ json: { busy_events: busyEvents } }];"
      },
      "id": "34acf1aa-f28c-4d70-b994-9ff78fbd271d",
      "name": "Normalize Calendar Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        208
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const TIMEZONE        = 'America/New_York';\nconst BUSINESS_START  = 9;\nconst BUSINESS_END    = 20;\nconst SLOT_INTERVAL   = 30;\n\nconst requestedDate   = $('Route by Action').item.json.body.date;\nconst serviceDuration = parseInt($('Route by Action').item.json.body.duration_minutes);\n\nfunction getETOffset(dateStr) {\n  const d = new Date(dateStr + 'T12:00:00Z');\n  const year = d.getUTCFullYear();\n  const marchFirst = new Date(Date.UTC(year, 2, 1));\n  const dstStart   = new Date(Date.UTC(year, 2, (7 - marchFirst.getUTCDay()) % 7 + 8));\n  const novFirst   = new Date(Date.UTC(year, 10, 1));\n  const dstEnd     = new Date(Date.UTC(year, 10, (7 - novFirst.getUTCDay()) % 7 + 1));\n  return (d >= dstStart && d < dstEnd) ? '-04:00' : '-05:00';\n}\n\nconst etOffset = getETOffset(requestedDate);\nconst rawBusy  = $input.item.json.busy_events || [];\nconst busyEvents = rawBusy.map(e => ({\n  start: new Date(e.start),\n  end:   new Date(e.end),\n}));\n\nconst availableSlots = [];\nfor (let hour = BUSINESS_START; hour < BUSINESS_END; hour++) {\n  for (let minute = 0; minute < 60; minute += SLOT_INTERVAL) {\n    const hh = String(hour).padStart(2, '0');\n    const mm = String(minute).padStart(2, '0');\n    const slotStartISO = requestedDate + 'T' + hh + ':' + mm + ':00' + etOffset;\n    const slotStartUTC = new Date(slotStartISO);\n    const slotEndUTC   = new Date(slotStartUTC.getTime() + serviceDuration * 60 * 1000);\n    const totalEndMinutes = hour * 60 + minute + serviceDuration;\n    const slotEndETHour   = Math.floor(totalEndMinutes / 60);\n    const slotEndETMinute = totalEndMinutes % 60;\n    if (slotEndETHour > BUSINESS_END || (slotEndETHour === BUSINESS_END && slotEndETMinute > 0)) continue;\n    const isFree = !busyEvents.some(busy => slotStartUTC < busy.end && slotEndUTC > busy.start);\n    if (isFree) {\n      const endHH = String(slotEndETHour).padStart(2, '0');\n      const endMM = String(slotEndETMinute).padStart(2, '0');\n      const slotEndISO = requestedDate + 'T' + endHH + ':' + endMM + ':00' + etOffset;\n      const displayTime = slotStartUTC.toLocaleTimeString('en-US', {\n        hour: 'numeric', minute: '2-digit', hour12: true, timeZone: TIMEZONE,\n      });\n      availableSlots.push({ start_time: slotStartISO, end_time: slotEndISO, display_time: displayTime });\n    }\n  }\n}\nreturn [{ json: { available_slots: availableSlots } }];"
      },
      "id": "d441ff25-082d-4494-a85c-20090b00b2e6",
      "name": "Find Free Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "ac8b4355-b86f-4534-95be-21c0dbc6e989",
      "name": "Respond Availability",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1360,
        208
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "0a50e936261ab691c592a17d6c15e119e6c11a769057e189a9fe766621524564@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Salon Appointment Calender"
        },
        "start": "={{ $('Route by Action').item.json.body.start_time }}",
        "end": "={{ $('Route by Action').item.json.body.end_time }}",
        "additionalFields": {
          "description": "=Customer: {{ $('Route by Action').item.json.body.customer_name }}\nPhone: {{ $('Route by Action').item.json.body.customer_phone || 'Not provided' }}\nEmail: {{ $('Route by Action').item.json.body.customer_email }}\nService: {{ $('Route by Action').item.json.body.service_name }}\nStart: {{ $('Route by Action').item.json.body.start_time }}\nEnd: {{ $('Route by Action').item.json.body.end_time }}",
          "location": "LUX SALON, Miami, USA",
          "summary": "={{ $('Route by Action').item.json.body.service_name }} - {{ $('Route by Action').item.json.body.customer_name }}"
        }
      },
      "id": "24d64a76-6525-4263-9b95-b7f5999a3a40",
      "name": "Create Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        688,
        432
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "AcWtQ5kuR4JFZjwx",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Route by Action').item.json.body.customer_email }}",
        "subject": "Appointment Confirmed - LUX SALON",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\"><h2 style=\"color: #333;\">Your Appointment is Confirmed!</h2><p>Dear {{ $('Route by Action').item.json.body.customer_name }},</p><p>Thank you for booking with <strong>LUX SALON</strong>. Here are your appointment details:</p><div style=\"background: #f5f5f5; padding: 20px; border-radius: 8px; margin: 20px 0;\"><p><strong>Service:</strong> {{ $('Route by Action').item.json.body.service_name }}</p><p><strong>Date &amp; Time:</strong> {{ $('Route by Action').item.json.body.start_time.split('T')[0] }} at {{ new Date($('Route by Action').item.json.body.start_time).toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', hour12: true, timeZone: 'America/New_York' }) }}</p><p><strong>Location:</strong> LUX SALON, Miami, USA</p></div><p><strong>Contact Us:</strong><br>Phone: +1 (641) 216-6808<br>Email: maxhobbler.proghax@gmail.com</p><p style=\"color: #666; font-size: 12px; margin-top: 30px;\">If you need to cancel or reschedule, please call us at least 24 hours in advance.</p></div>",
        "options": {
          "senderName": "LUX SALON"
        }
      },
      "id": "8746767b-3594-4fc9-9488-fad79bc6200c",
      "name": "Send Booking Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1024,
        432
      ],
      "webhookId": "7b12906b-d0e7-47bd-9099-568bcb6a00a0",
      "credentials": {
        "gmailOAuth2": {
          "id": "mi1QfUYZw9ucKYKe",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"event_id\": $('Create Event').item.json.id, \"email_sent\": true, \"message\": \"Appointment booked and confirmation email sent\" } }}",
        "options": {}
      },
      "id": "b25a5dd3-59e7-4033-a42f-62aeb3b41360",
      "name": "Respond Booking",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1312,
        432
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "callanalysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "036dd13f-0539-41af-9220-2bb1f51e324e",
      "name": "Retell Post-Call Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        320,
        992
      ],
      "webhookId": "c72547d4-846c-4511-9d96-69503cf187f3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-event-type",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "call_analyzed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "277ccfbb-4fb7-401a-b078-067c228e3e77",
      "name": "Is call_analyzed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        992
      ]
    },
    {
      "parameters": {
        "jsCode": "const call = $input.item.json.body.call;\n\n// ── Date from start_timestamp (milliseconds) ─────────────────────────────────\nconst ts = call.start_timestamp;\nlet date = 'Not Provided';\nif (ts) {\n  const d = new Date(ts > 1e12 ? ts : ts * 1000);\n  const yyyy = d.getUTCFullYear();\n  const mm   = String(d.getUTCMonth() + 1).padStart(2, '0');\n  const dd   = String(d.getUTCDate()).padStart(2, '0');\n  date = yyyy + '-' + mm + '-' + dd;\n}\n\n// ── Phone: official caller number ─────────────────────────────────────────────\nconst phone = call.from_number || 'Not Provided';\n\n// ── Try Retell post-call custom_analysis_data first ───────────────────────────\nconst cad = (call.call_analysis && call.call_analysis.custom_analysis_data)\n  ? call.call_analysis.custom_analysis_data\n  : null;\n\nlet customerName = 'Not Provided';\nlet email        = 'Not Provided';\nlet service      = 'Not Provided';\n\nif (cad) {\n  customerName = cad.customer_name || cad.name       || cad.CustomerName || 'Not Provided';\n  email        = cad.email         || cad.Email                          || 'Not Provided';\n  service      = cad.service       || cad.Service                        || 'Not Provided';\n}\n\n// ── Fallback: extract from transcript ─────────────────────────────────────────\nif (call.transcript) {\n  const t = call.transcript;\n\n  if (customerName === 'Not Provided') {\n    const m = t.match(/(?:my name is|I(?:'?m| am)|this is)\\s+([A-Z][a-z]+(?:\\s+[A-Z][a-z]+)?)/i);\n    if (m) customerName = m[1].trim();\n  }\n\n  if (email === 'Not Provided') {\n    const m = t.match(/[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/);\n    if (m) email = m[0].trim();\n  }\n\n  if (service === 'Not Provided') {\n    const services = ['Bridal Styling','Full Colour','Highlights','Deep Conditioning','Blow-dry','Facial','Haircut'];\n    for (const s of services) {\n      if (t.toLowerCase().includes(s.toLowerCase())) { service = s; break; }\n    }\n  }\n}\n\nreturn [{\n  json: {\n    Date:         date,\n    CustomerName: customerName,\n    Phone:        phone,\n    Email:        email,\n    Service:      service\n  }\n}];"
      },
      "id": "0b224cd1-568a-4a74-b78e-1c808802a175",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        896
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IqGe5A6pBkZBh1kqm_r3Vv0EZYeP8XKDNR0AvrMSops",
          "mode": "list",
          "cachedResultName": "LUX SALON",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IqGe5A6pBkZBh1kqm_r3Vv0EZYeP8XKDNR0AvrMSops/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Salon Appointment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IqGe5A6pBkZBh1kqm_r3Vv0EZYeP8XKDNR0AvrMSops/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.Date }}",
            " CustomerName": "={{ $json.CustomerName }}",
            "Phone": "={{ $json.Phone }}",
            "Email": "={{ $json.Email }}",
            "Service": "={{ $json.Service }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " CustomerName",
              "displayName": " CustomerName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Service",
              "displayName": "Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5927c583-7114-4c7e-9093-4ca4f67f6b92",
      "name": "Append to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        896
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ulQf0wruTqVzUCHg",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"ok\" } }}",
        "options": {}
      },
      "id": "9cfa989d-ea44-450b-9748-88965b727b70",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1216,
        896
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"ignored\" } }}",
        "options": {}
      },
      "id": "af028a44-ece2-4b35-9991-e0702d70e7cb",
      "name": "Respond Ignored",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        768,
        1088
      ]
    },
    {
      "parameters": {
        "content": "## Update Information to Google Sheets",
        "height": 512,
        "width": 1472,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        800
      ],
      "typeVersion": 1,
      "id": "701ec37a-ca1d-4599-bd38-c51dc4e2d41f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Checking Availability & Booking Appointment",
        "height": 624,
        "width": 1456,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        112
      ],
      "typeVersion": 1,
      "id": "54e20b72-7ad4-4e1a-b2c8-d7b2c163fa65",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Retell Webhook": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Get Calendar Events",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar Events": {
      "main": [
        [
          {
            "node": "Normalize Calendar Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Calendar Output": {
      "main": [
        [
          {
            "node": "Find Free Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Free Slots": {
      "main": [
        [
          {
            "node": "Respond Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "main": [
        [
          {
            "node": "Send Booking Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Booking Email": {
      "main": [
        [
          {
            "node": "Respond Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retell Post-Call Webhook": {
      "main": [
        [
          {
            "node": "Is call_analyzed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is call_analyzed?": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Ignored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Append to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Google Sheets": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "2ab89b75-0ed4-49c9-a2a4-7d0c04889983",
  "meta": {
    "aiBuilderAssisted": true,
    "instanceId": "eb63ac4884ed128396afe51cd601dc0e0c72497fda2e0de74054c688c8d2b998"
  },
  "id": "HO8OEQlxlyhDDS4w",
  "tags": []
}